
body{
  background-color:#F5F5F5;
}
#Web_1366___1 {

  width: auto;
  height: 650px;




}
.fontImage{
  width: 1350px;
  margin-top: -68px;
  margin-left: -30px;

}
.sama{
  position: absolute;
  height:50px;
  text-align: left;
  top: 38px;
  //width: 60px;
}
.header{
  position: absolute;
  left: 100px;
  //top: -20px;
  overflow: visible;
  width: 489px;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
 // color: #27557D;
  color: rgba(0,149,255,1);
  letter-spacing: 0.02px;

}
#formulaire {
  position: absolute;
  width: 373.035px;
  height: 383px;
  left: 161.448px;
  top: 210px;
  overflow: visible;
}
.Rectangle_2 {
  filter: drop-shadow(0px 0px 80px rgba(0, 0, 0, 0.102));
  position: absolute;
  overflow: visible;
  width: 613.035px;

  left: 0px;
  top: 0px;
}
#CONNEXION {
  position: absolute;
  left: 35.097px;
  top: 58px;
  overflow: visible;
  width: 305.846px;
  height: 58px;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  color: rgba(0,149,255,1);
  letter-spacing: 0.02px;
  font-weight: bold;
}
.login {
  position: absolute;

  width: 257.715px;
  height: 41px;
  left: 78.217px;
  top: 154px;
  border-radius: 25px;
  border-color: rgba(0,149,255,1);

}
.login_q {
  position: absolute;
  overflow: visible;
  width: 257.715px;
  height: 42px;
  left: 78.217px;
  top: 211px;
  border-radius: 25px;
  border-color: rgba(0,149,255,1);
}

.Icon_awesome_user_tie {
  overflow: visible;
  position: absolute;
  width: 18.575px;
  height: 20.04px;
  left: 41.733px;
  top: 163.263px;
  transform: matrix(1,0,0,1,0,0);
}
.Icon_ionic_ios_lock {
  overflow: visible;
  position: absolute;
  width: 18.734px;
  height: 23.6px;
  left: 41.733px;
  top: 219.902px;
  transform: matrix(1,0,0,1,0,0);
}
.button_login {
  position: absolute;
  overflow: visible;
  width: 175.487px;
  height: 47px;
  left: 99.276px;
  top: 287px;
  color:white;
  border-radius: 25px;
  border: 0px;
}

#OF71Y30 {
  position: absolute;
  width: 580.834px;
  height: 444px;
  left: 461.559px;
  overflow: visible;
}
#Capture_d__cran__132_ {
  position: absolute;
  width: 297px;
  height: 158.374px;
  left: 593px;
  top: 86px;
  overflow: visible;
}
#personne {
  position: absolute;


  left: 940.559px;
  overflow: visible;
}
#limsmetik {
  position: absolute;
  width: 225.69px;
  height: 153.768px;
  left: 960.393px;
  top: -210px;
  overflow: visible;
}
