<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Facture</h3>
        </div>
        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">

            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="toolbar hidden-print">
           <div class="text-right">

              </div>
              <button nbButton status="info"
                            [useExistingCss]="true"
                            styleSheetFile="../../../../assets/bootstrap.css,../../../../assets/bootstrap.min.css"
                            printSectionId="print-section"
                            ngxPrint  ><i class="fa fa-print">IMPRIMER </i></button> &nbsp;
           <button nbButton status="warning" (click)="changeTva()" *ngIf="!this.tva"><i class="fa fa-eye"> Afficher TVA</i></button>
              <button nbButton status="danger" (click)="changeTva1()"*ngIf="this.tva" ><i class="fa fa-eye-slash">Masquer TVA</i></button>
              <hr>
            </div>
            <div class="x_content"  id="print-section" >
              <div class="row">
                <div class="col-md-4">
                  <img src="../../../../assets/WhatsApp Image 2021-03-29 at 11.43.22 AM.jpeg" width="350px">
                  <br>
                </div>
              <div   class="col-md-4" style="margin-left: 8%;">
                <img *ngIf="infoFacture['promo']>0" src="../../../../assets/promo.jpg" width="120px" >
              </div>
              <div class="col-md-3">
                <h3>Facture N° :       {{infoFacture['numFacture']}}</h3>
                <b>Date de la facture : </b>{{infoFacture['dateFacture'] | date:'dd/MM/yyyy'}}
              </div>
            </div>
              <br>
              <br>
             
              <div  id="gauche" >
                <table  id="red">
                  <tbody>
                  <p class="element"><b>Client</b></p>
                  <tr>
                    <th>Nom : </th>
                    <td *ngIf="isParticulier()"><b>{{infoClient['client'].prenomClient}}  {{infoClient['client'].nomClient}}</b></td>
                    <td *ngIf="isSimple()"><b>{{infoClient['client'].nomClient}}</b></td>
                    <td *ngIf="isEntreprise()"><b>{{infoClient['client'].raisonSocialClient}}</b></td>
                  </tr>
                  <tr>
                    <th>Adresse  : </th>
                    <td *ngIf="isParticulier()"> {{infoClient['client'].adresseClient}}</td>
                    <td *ngIf="isEntreprise()"> {{infoClient['client'].adresseClient}}</td>
                    <td *ngIf="isSimple()">{{infoClient['client'].nomClient}}</td>
                  </tr>
                  <tr>
                    <th>Téléphone : </th>
                    <td *ngIf="isParticulier()">{{infoClient['client'].telClient}}</td>
                    <td *ngIf="isEntreprise()">{{infoClient['client'].telClient}}</td>
                    <td *ngIf="isSimple()">{{infoClient['client'].nomClient}}</td>
                  </tr>
                  <tr>
                    <th>Type client :</th>
                    <td *ngIf="isParticulier()">Particulier</td>
                    <td *ngIf="isEntreprise()">Entreprise</td>
                    <td *ngIf="isSimple()">Simple</td>
                  </tr>
                  </tbody>
                </table>
              </div >

              <div  id="droite" >
                <table id="red1" >
                  <tbody>
                  <p class="element"><b> Paiement</b></p>
                  <tr>
                    <th>Type paiement : </th>
                    <td>Comptant</td>
                  </tr>
                  <tr>
                    <th>Net à payer  :</th>
                    <td> <b class="Pading">{{MontantAPayer | currency:"XAF":"symbol":'3.0':'fr'}} </b> </td>
                  </tr>
                  <tr>
                    <th>Effectue par :</th>
                    <td> <b class="Pading">{{infoUser.prenom}} {{infoUser.nom}} </b> </td>
                  </tr>
                  <tr>
                    <th>Boutique :</th>
                    <td> <b class="Pading">{{magasin}}</b> </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="clearfix"></div>
              <div class="bande">
                <span href="#" class="recommendation">Promo</span>
                <h2 class="center" >Facture</h2>
              </div>
              <br>
              <br>
              <div class="clearfix"></div>
              <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action" border="1">
                  <thead>
                  <tr class="headings" style='background-color:white'>

                    <th >N° </th>
                    <th>Description</th>
                    <th>Quantité</th>
                    <th>Prix unitaire </th>
                    <th>Montant </th>
                  </tr>
                  </thead>
                  <tbody style='background-color:white'>
                  <tr *ngFor="let t of infoproduit; let i=index">
                    <th scope='row'>{{i+1}}</th>
                    <td>{{t.libelle}}</td>
                    <td>{{t.quantite}}</td>
                    <td>{{t.prixUnitaire}}</td>
                    <td>{{t.montant | currency:"XAF":"symbol":'3.0':'fr'}}</td>
                  </tr>

                  <tr >
                    <th scope='row' rowspan="4" colspan="3"></th>
                    <td ><b class="total"></b></td>
                    <td></td>
                  </tr>
                  <tr *ngIf="this.tva">
                    <td  ><b class="total"> Prix HT:</b></td>
                    <td><b> {{MontantHT | currency:"XAF":"symbol":'3.0':'fr'}}</b> </td>
                  </tr>
                  <tr *ngIf="this.tva">
                    <td  ><b class="total"> TVA:</b></td>
                    <td><b> {{MontantTva | currency:"XAF":"symbol":'3.0':'fr'}}</b></td>
                  </tr>
                  <tr>
                    <td  ><b class="total"> Prix Total :</b></td>
                    <td><b> {{MontantAPayer | currency:"XAF":"symbol":'3.0':'fr'}}</b></td>
                  </tr>
                  </tbody>
                </table>
                <div class="notices">
                  <div><b>IMPORTANT:</b></div>
                  <div class="notice">
                    <br>Lô et frères votre partenaire de confiance
                    <br>Adresse: Rue Ousmane Socé Diop - Rufisaue en face CEM Abdoulaye Sadji
                    <br> Contact 770381834 / 774007004 / 772125686
                    <b class="signature">Signature</b>
                  </div>
                </div>
                <footer>
                  <div class="footerr">
                    Gestion de stock créée par  <b>@LIMSMETIK</b><strong> Tel: 771922061 /771768180</strong>.
                  </div>
                </footer>
              </div>


            </div>







          </div>
        </div>
      </div>



    </div>

  </nb-card-body>
</nb-card>
