<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>First step</ng-template>

        <div class=".col-md-4 .offset-md-4">
          <nb-card>
            <nb-card-header style="text-align: center;background-color: #2d8ac7"><h6> Achat avec fournisseur de nouveaux produits</h6></nb-card-header>
            <nb-card-body>
              <form #f="ngForm"  (ngSubmit)="onLogin(f)">

                <!--            version autocomplete categorie -->
                <div class="form-group">
                  <label  class="label">Catégorie</label>
                  <ng-select [items]="categorie"
                             bindLabel="libelle"
                             bindValue="id"
                             [ngModelOptions]="{standalone: true}"
                             [(ngModel)]="contenue.idcategorie"
                             (ngModelChange)="recuperation($event)"
                             required="required">
                  </ng-select>
                </div>
                <div class="form-group"*ngIf="(produit | json) != '{}'">
                  <label  class="label">Produit</label>
                  <ng-select [items]="produit"
                             bindLabel="libelle"
                             bindValue="id"
                             [ngModelOptions]="{standalone: true}"
                             [(ngModel)]="contenue.idproduit"
                             (ngModelChange)="recuperation($event)"
                             required="required">
                  </ng-select>

                </div>

<!--                version normale-->
<!--                <div class="form-group" style="text-align: center">-->
<!--                  <label  class="label">Catégorie</label>-->
<!--                  <select  fullWidth class="form-control" name="idcategorie"  [(ngModel)]="contenue.idcategorie" (ngModelChange)="recuperation($event)">-->
<!--                    <option *ngFor="let c of categorie" [value]="c.id" >{{c.libelle}}</option>-->
<!--                  </select>-->
<!--                </div>-->
<!--                <div class="form-group" *ngIf="produit" style="text-align: center">-->
<!--                  <label  class="label">Produit</label>-->
<!--                  <select fullWidth class="form-control" name="idProduit" [(ngModel)]="contenue.idproduit">-->
<!--                    <option >Veuillez choisir un produit</option>-->
<!--                    <option *ngFor="let p of produit" [value]="p.id" >{{p.libelle}}</option>-->
<!--                  </select>-->
<!--                </div>-->
                <div class="form-group" style="text-align: center">
                  <label  class="label">Quantité</label>
                  <input type="number" nbInput fullWidth status="info" required="required"  placeholder="Entrer la quantité" name="Quantite" [(ngModel)]="contenue.quantite" min="1">
                </div >
                <div class="form-group" style="text-align: center">
                  <label  class="label">Prix unitaire</label>
                  <input type="number" nbInput fullWidth status="info"  required="required" placeholder="Entrer le prix unitaire" name="PrixUnitaire" [(ngModel)]="contenue.pu" min="1">
                </div>

                <button type='reset'nbButton status='danger'>Annuler</button>
                <button type='submit'nbButton status='success' [disabled]="!f.valid">Valider</button>
                <br>
                <br>
                <br>

              </form>
              <table class='table table-bordered'>
                <thead style='background-color: #2d8ac7'>
                <tr>
                  <th>#</th>
                  <th>Produit</th>
                  <th>Quantite</th>
                  <th>Prix</th>
                  <th>Montant</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody style='background-color:white'>
                <tr *ngFor="let t of tableau;let i =index" (change)="actuliser()">
                  <th scope='row'>{{i+1}}</th>
                  <td>{{t.libelle}}</td>
                  <td>{{t.quantite}}</td>
                  <td>{{t.prixUnitaire}}</td>
                  <td>{{t.montant}} FCFA</td>
                  <td><a class='btn btn-danger btn-xs' (click)="suprimer(t.produit_id)"><i class='fa fa-trash-o'></i> Supprimer </a></td>
                </tr>
                <tr>
                  <td colspan="4" ><b>TOTAL:</b></td>

                  <td ><b>    {{montant[0].total}} FCFA</b></td>
                </tr>

                </tbody>
              </table>

              <button nbButton status="danger" *ngIf="tableau" (click)="anullerAchat()">Annuler</button>
            </nb-card-body>
          </nb-card>

        </div>
        <button nbButton disabled nbStepperNext >Précédent</button>
        <button nbButton nbStepperNext status="success" [disabled]="!valider">Suivant</button>
      </nb-step>
      <nb-step [label]='labelTwo'>
        <ng-template #labelTwo>Second step</ng-template>

        <div>
          <div class="row">
            <div class="col-lg-6">
              <nb-card>
                <nb-card-header style="background-color: #2d8ac7">Achat Particulier</nb-card-header>
                <nb-card-body>

                  <form #fff="ngForm" (ngSubmit)="validerAchatFourniseurParticulier(fff)">
                    <div class="form-group">
                      <label  class="label">Telephone</label>
                      <input type="number" nbInput fullWidth status="info" name="telephone" [(ngModel)]="particulier.telephone" (ngModelChange)="getParticulierbyTel($event)" placeholder="Enter le numero de telephone">
                    </div>
                    <div class="form-group">
                      <label  class="label">Prenon</label>
                      <input type="text" nbInput fullWidth status="info" [disabled]="trouve" name="Prenom" required="required"  [(ngModel)]="particulier.prenom" placeholder="Enter le prenom">
                    </div>
                    <div class="form-group">
                      <label  class="label">Nom</label>
                      <input type="text" nbInput fullWidth status="info" [disabled]="trouve" name="Nom" required="required"  [(ngModel)]="particulier.nom"   placeholder="Enter le nom">
                    </div>

                    <div class="form-group">
                      <label  class="label">Adresse</label>
                      <input type="text" nbInput fullWidth status="info" [disabled]="trouve" name="Adresse" required="required" [(ngModel)]="particulier.adresse" placeholder="Enter l'adresse">
                    </div>

                    <div class=" col-md-offset-7">

                      <button type='submit' [disabled]="!fff.valid" nbButton status='success'>Valider Achat</button>
                    </div>
                    <br>
                    <br>
                    <br>

                  </form>
                </nb-card-body>
              </nb-card>
            </div>

            <div class="col-lg-6">

              <nb-card>
                <nb-card-header style="background-color: #b057c7">Achat Entreprise</nb-card-header>
                <nb-card-body>

                  <form #ff="ngForm" (ngSubmit)="validerAchatFourniseurEntrepreise(ff)">
                    <div class="form-group">
                      <label  class="label">Telephone</label>
                      <input type="number" nbInput fullWidth status="info" name="telephone" [(ngModel)]="Entreprise.telephone" (ngModelChange)="getParticulierbyTelEntre($event)" placeholder="Enter le numero de telephone">
                    </div>

                    <div class="form-group">
                      <label  class="label">Adresse</label>
                      <input type="text" nbInput fullWidth status="info" [disabled]="trouve" name="Adresse" required="required" [(ngModel)]="Entreprise.adresse" placeholder="Enter l'adresse">
                    </div>
                    <div class="form-group">
                      <label  class="label">Raison Social</label>
                      <input type="text" nbInput fullWidth status="info" [disabled]="trouve" name="Adresse" required="required" [(ngModel)]="Entreprise.raisonSocial" placeholder="Enter l'adresse">
                    </div>

                    <div class=" col-md-offset-7">

                      <button type='submit' [disabled]="!ff.valid"  nbButton status='success'>Valider Achat</button>
                    </div>
                    <br>
                    <br>
                    <br>

                  </form>
                </nb-card-body>
              </nb-card>


            </div>
          </div>
          <button nbButton nbStepperNext [disabled]="true" style="float: right;">Suivant</button>
          <button nbButton nbStepperPrevious style="float: right;">Précédent</button>
        </div >
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>


