<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>First step</ng-template>

        <div class=".col-md-4 .offset-md-4">
          <nb-card>
            <nb-card-header style="background-color: #2d8ac7">Facture proformat particulier</nb-card-header>
            <nb-card-body>
              <form #f="ngForm"  (ngSubmit)="onLogin(f)" >

                <!--            version autocomplete categorie -->
                <div class="form-group">
                  <label  class="label">Catégorie</label>
                  <ng-select [items]="categorie"
                             bindLabel="libelle"
                             bindValue="id"
                             autofocus
                             [ngModelOptions]="{standalone: true}"
                             [(ngModel)]="contenue.idcategorie"
                             (ngModelChange)="recuperation($event)">
                  </ng-select>
                </div>
                <div class="form-group"*ngIf="(produit | json) != '{}'">
                  <label  class="label">Produit</label>
                  <ng-select [items]="produit"
                             bindLabel="libelle"
                             bindValue="id"
                             autofocus
                             [ngModelOptions]="{standalone: true}"
                             [(ngModel)]="contenue.idproduit"
                             (ngModelChange)="recuperation($event)">
                  </ng-select>
                </div>


<!--                <div class="form-group">-->
<!--                  <label  class="label">Categorie</label>-->
<!--                  <select  fullWidth class="form-control" name="idcategorie"  [(ngModel)]="contenue.idcategorie" (ngModelChange)="recuperation($event)">-->
<!--                    <option *ngFor="let c of categorie" [value]="c.id" >{{c.libelle}}</option>-->
<!--                  </select>-->
<!--                </div>-->
<!--                <div class="form-group" *ngIf="produit">-->
<!--                  <label  class="label">Produit</label>-->
<!--                  <select  fullWidth class="form-control" name="idProduit" [(ngModel)]="contenue.idproduit">-->
<!--                    <option >veuiller choisir un produit</option>-->
<!--                    <option *ngFor="let p of produit" [value]="p.id" >{{p.libelle}}</option>-->
<!--                  </select>-->
<!--                </div>-->
                <div class="form-group">
                  <label  class="label">Quantite</label>
                  <input type="number" min="1" nbInput fullWidth status="info" required="required" placeholder="Enter la quantite" name="Quantite" [(ngModel)]="contenue.quantite">
                </div>
                <div class="form-group">
                  <label  class="label">Prix unitaire</label>
                  <input type="number" min="1" nbInput fullWidth status="info" required="required" placeholder="Enter le prix unitaire" name="PrixUnitaire" [(ngModel)]="contenue.pu">
                </div>
                <div class=" col-md-offset-7">
                  <button type='reset' (click)="resetForm()" nbButton status='danger'>Annuler</button>
                  <button type='submit'  nbButton status='success' [disabled]="!f.valid">Valider</button>
                </div>
                <br>
                <br>
                <br>

              </form>
              <table class='table table-bordered'>
                <thead style='background-color: #2d8ac7'>
                <tr>
                  <th>#</th>
                  <th>Produit</th>
                  <th>Quantite</th>
                  <th>Prix</th>
                  <th>Montant</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody style='background-color:white'>
                <tr *ngFor="let t of tableau;let i=index" >
                  <th scope='row'>{{i+1}}</th>
                  <td>{{t.libelle}}</td>
                  <td>{{t.quantite}}</td>
                  <td>{{t.prixUnitaire}}</td>
                  <td>{{t.montant}}</td>
                  <td><a class='btn btn-danger btn-xs' (click)="suprimer(t.produit_id)" ><i class='fa fa-trash-o'></i> Supprimer </a></td>
                </tr>

                <tr>
                  <td colspan='4' ><b>TOTAL:</b></td>

                  <td><b>{{montant}}</b></td>
                </tr>

                </tbody>
              </table>

              <button nbButton status="danger" (click)="anullerVente()">Annuler</button>
            </nb-card-body>
          </nb-card>

        </div>
        <button nbButton  status="success" nbStepperNext [disabled]="!valider" style="float: right;">suivant</button>
        <button nbButton disabled nbStepperNext style="float: right;" >précédent</button>
      </nb-step>
      <nb-step [label]='labelTwo'>
        <ng-template #labelTwo>Second step</ng-template>
        <div class=".col-md-4 .offset-md-4">
          <nb-card>
            <nb-card-header style="background-color: #2d8ac7">Formulaire Particulier</nb-card-header>
            <nb-card-body>
              <form #ff="ngForm" (ngSubmit)="validervente(ff)">
                <div class="form-group">
                  <label  class="label">Telephone</label>
                  <input type="number" nbInput fullWidth status="info" name="telephone" [(ngModel)]="particulier.telephone" (ngModelChange)="getParticulierbyTel($event)" placeholder="Enter le numero de telephone">
                </div>
                <div class="form-group">
                  <label  class="label">Prenon</label>
                  <input type="text" nbInput fullWidth status="info" [disabled]="trouve" name="Prenom" required="required"  [(ngModel)]="particulier.prenom" placeholder="Enter le prenom">
                </div>
                <div class="form-group">
                  <label  class="label">Nom</label>
                  <input type="text" nbInput fullWidth status="info" [disabled]="trouve" name="Nom" required="required"  [(ngModel)]="particulier.nom"   placeholder="Enter le nom">
                </div>

                <div class="form-group">
                  <label  class="label">Adresse</label>
                  <input type="text" nbInput fullWidth status="info" [disabled]="trouve" name="Adresse" required="required" [(ngModel)]="particulier.adresse" placeholder="Enter l'adresse">
                </div>


                <div class=" col-md-offset-7">

                  <button type='submit' [disabled]="!ff.valid" nbButton status='success'>Valider Facture</button>
                </div>
                <br>
                <br>
                <br>

              </form>



            </nb-card-body>
          </nb-card>

        </div>
        <div>
          <button nbButton nbStepperNext [disabled]="true" style="float: right;">suivant</button>
          <button nbButton nbStepperPrevious style="float: right;">précédent</button>
        </div >
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>


