
<nb-card>
  <nb-card-header style="text-align: center;background-color: #2d8ac7"> <b><h6>Facture proforma</h6></b></nb-card-header>
  <nb-card-body>

    <div class="row">

      <div class="col-md-6">
        <div><button nbButton status="success" (click)="gotoProformatParticulier()"><i class="fa fa-user"> 
          Proformat Particulier
       </i> </button></div>
      </div>
      <div class="col-md-6">
        <div>  <button nbButton status="warning" (click)="gotoProformatEntreprise()"><i class="fa fa-users"> 
          Proformat Entreprise
        </i></button></div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
