
body{
    background-color:#F5F5F5;
  }
  #Web_1366___1 {
  
    width: 50%;
    height: 60px;
  }
  #img{
    margin-right: 80%;
  }
  .fontImage{
    width: 1350px;
    margin-top: -68px;
    margin-left: -30px;
  
  }
  .header{
      position: absolute;
      //left: 20px;
      //top: -20px;
      margin-left: 20%;
      overflow: visible;
      width: 489px;
      white-space: nowrap;
      text-align: left;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      color: rgba(0,149,255,1);
      letter-spacing: 0.02px;
      top: 70px;
  
    }
  #formulaire {
    position: absolute;
    width: 373.035px;
    height: 383px;
    left: 161.448px;
    top: 210px;
    overflow: visible;
    margin-left: 30%;
  
  }
  .Rectangle_2 {
    filter: drop-shadow(0px 0px 80px rgba(0, 0, 0, 0.102));
    position: absolute;
    overflow: visible;
    width: 613.035px;
  
    left: 0px;
    top: 0px;
  
  }
  #CONNEXION {
    position: absolute;
    left: 35.097px;
    top: 58px;
    overflow: visible;
    width: 305.846px;
    height: 58px;
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: rgba(0,149,255,1);
    letter-spacing: 0.02px;
    font-weight: bold;
  
  }
  .login_q2 {
    position: absolute;
    overflow: visible;
    width: 257.715px;
    height: 42px;
    left: 78.217px;
    top: 150px;
    border-radius: 25px;
    border-color: rgba(0,149,255,1);
  
  }

  .login_q3 {
    position: absolute;
    overflow: visible;
    width: 257.715px;
    height: 42px;
    left: 78.217px;
    top: 243px;
    border-radius: 25px;
    border-color: rgba(0,149,255,1);
  
  }
  
 
  
  .button_login {
    position: absolute;
    overflow: visible;
    width: 175.487px;
    height: 47px;
    left: 99.276px;
    top: 320px;
    color:white;
    border-radius: 25px;
    border: 0px;
    
  }
  
  
  
  #limsmetik {
   position: absolute;
    width: 225.69px;
    height: 153.768px;
    left: 960.393px;
    top: -210px;
    overflow: visible;
    margin-left: -85%;
  }
  