<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <ngx-status-card [title]="statusCard.montant" [type]="statusCard.type" [montant]="statusCard.title">
      <i [ngClass]="statusCard.iconClass"></i>
    </ngx-status-card>
  

  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header style="background-color: #2d8ac7">Produits les plus vendus</nb-card-header>
      <nb-card-body>
        <table class='table table-bordered'>
          <thead style='background-color: #2d8ac7'>
          <tr>
            <th>#</th>
            <th>catégorie</th>
            <th>Produit</th>
            <th>Nombre de fois vendu</th>
          </tr>
          </thead>
          <tbody style='background-color:white' >
          <tr class='even pointer'  *ngFor=" let tab of bestProd;let i =index">
            <th scope='row'>{{i+1}}</th>
            <th >{{tab.categorie}}</th>
            <th >{{tab.produit}}</th>
            <th >{{tab.nombreFoisVendu}}</th>

          </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header style="background-color: #2d8ac7">Produits les moins vendus</nb-card-header>
      <nb-card-body>
        <table class='table table-bordered'>
          <thead style='background-color: #2d8ac7'>
          <tr>
            <th>#</th>
            <th>catégorie</th>
            <th>Produit</th>
            <th>Nombre de fois vendu</th>
          </tr>
          </thead>
          <tbody style='background-color:white' >
          <tr class='even pointer'  *ngFor=" let tab of badProd;let i =index">
            <th scope='row'>{{i+1}}</th>
            <th >{{tab.categorie}}</th>
            <th >{{tab.produit}}</th>
            <th >{{tab.nombreFoisVendu}}</th>

          </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">

  <div class="col-xxl-12">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>
</div>
